
*** Warning, this page under construction***


# Introduction

In this tutorial, we will review NeCTAR, the national infrasture for research cloud computing, create a jupyter notebook (a UI for python programming), review scipy (a collection of python packages for mathematics, scientific and engineering programming, and experiment with the Pandas and matplotlib packages for a small case study.


*** 
# Jupyter Notebooks

http://jupyter.org


_What is it?_

Here we install a Jupyter notebook, a web based shell for Python (and other languages) programming.

## Installation Options


See https://jupyter.org/install.html for more.

1) use the anaconda distribution

2) deploy on the nectar cloud

3)  use mybinder for tempoary notebooks.

### NeCTAR cloud deployemnt

_What is the nectar cloud_

https://support.ehelp.edu.au/support/solutions/articles/6000196124-nectar-applications-jupyter-notebook

### My binder deploymenet

https://tinyurl.com/y795bmjq



##  Basic Usage

Use of the interface

_And some simple examples of use of python._



***

# Scientific progrocessing with SciPy

Here is a introdution to pandas, one tool in the scipy toolkit



## Scipy Toolkit

Text from www.scipy.org

SciPy (pronounced “Sigh Pie”) is a Python-based ecosystem of open-source software for mathematics, science, and engineering.

Includes

* **Numpy** Base N-dimensional array package

* **Scipy library** Fundamental library for scientific computing

* **Matplotlib ** Comprehensive 2D plotting

* **Pandas** Data structures and analysis

* **scikit-image** Collection of algorithms for image processing.

* **sckit-learn** collection of tools fro machien learning.

* ...

Here we show pandas and matplotlib


## Pandas 

Text from http://pandas.pydata.org


Python has long been great for data munging and preparation, but less so for data analysis and modeling. pandas helps fill this gap, enabling you to carry out your entire data analysis workflow in Python without having to switch to a more domain specific language like R.

Combined with the excellent IPython toolkit and other libraries, the environment for doing data analysis in Python excels in performance, productivity, and the ability to collaborate.

### Library Highlights

* A fast and efficient DataFrame object for data manipulation with integrated indexing;
* Tools for reading and writing data between in-memory data structures and different formats: CSV and text files, Microsoft Excel, SQL databases, and the fast HDF5 format;
* Intelligent data alignment and integrated handling of missing data: gain automatic label-based alignment in computations and easily manipulate messy data into an orderly form;
* Flexible reshaping and pivoting of data sets;
* Intelligent label-based slicing, fancy indexing, and subsetting of large data sets;
* Columns can be inserted and deleted from data structures for size mutability;
* Aggregating or transforming data with a powerful group by engine allowing split-apply-combine operations on data sets;
* High performance merging and joining of data sets;
* Hierarchical axis indexing provides an intuitive way of working with high-dimensional data in a lower-dimensional data structure;
* Time series-functionality: date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging. Even create domain-specific time offsets and join time series without losing data;
* Highly optimized for performance, with critical code paths written in Cython or C.
* Python with pandas is in use in a wide variety of academic and commercial domains, including Finance, Neuroscience, Economics, Statistics, Advertising, Web Analytics, and more.

## A case study

In [1]:
!conda install -y pandas
# or pip install pandas

Fetching package metadata ...............
Solving package specifications: .

Package plan for installation in environment /opt/conda:

The following packages will be UPDATED:

    blas:   1.0-noblas         conda-forge --> 1.0-mkl       defaults
    pandas: 0.19.2-np112py36_1 conda-forge --> 0.23.0-py36_1 conda-forge

blas-1.0-mkl.t 100% |################################| Time: 0:00:00  10.00 MB/s
pandas-0.23.0- 100% |################################| Time: 0:00:10   3.04 MB/s

In [2]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

In [4]:
df2 = pd.DataFrame({ 'A' : 1.,
'B' : pd.Timestamp('20130102'),
'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
'D' : np.array([3] * 4,dtype='int32'),
'E' : pd.Categorical(["test","train","test","train"]),
'F' : 'foo' })

In [5]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo